* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

ul {
  padding: 0;
}

button {
  width: fit-content;
  height: 48px;
  padding: 10px 16px;

  flex-shrink: 0;

  color: white;
  font-size: 20px;
  font-weight: 500;

  border: none;
  border-radius: 10px;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  transform: scale(1.03);
  transition: transform 0.2s ease;
}

.todo-container {
  padding: 40px;
  width: fit-content;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.todo-header {
  margin: 10px 0 30px;

  font-size: 50px;
  font-weight: 800;
  text-shadow: 2px 2px 2px rgb(105, 107, 105);
}

.todo-form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo-form__input {
  padding: 20px 10px;
  height: 50px;

  flex-grow: 1;

  font-size: 20px;

  border: 2px solid lightgray;
  border-radius: 8px;
}

.todo-form__input::placeholder {
  flex-shrink: none;
  color: lightgray;
  font-size: 20px;
  font-weight: 600;
}

.todo-form__button,
.render-item__button__complete {
  background-color: rgb(56, 179, 56);
}

.todo-form__button:hover,
.render-item__button__complete:hover {
  background-color: rgb(13, 121, 13);
}

.render-item__button__delete {
  background-color: red;
}
.render-item__button__delete:hover {
  background-color: rgb(181, 15, 15);
}

.render-container {
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}

.render-section {
  width: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.render-title {
  margin: 30px 0px 20px;
  font-size: 30px;
}

.render-list {
  min-width: 250px;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.render-item {
  padding: 12px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  background-color: rgb(253, 253, 253);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  border: none;
  border-radius: 8px;

  font-size: 28px;
}

.render-item:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease;
}

.render-item__title {
  flex-basis: 200px;

  white-space: wrap;
  font-size: 24px;
  text-shadow: 1px 1px 1px rgb(175, 176, 175);
}
